<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  

</head>

<body>
  <div class="container-fluid">

    <div class="jumbotron text-center">
      <h1>Mission to Mars </h1>
      <p><a class = "btn btn-primary btn-lg" href="/scrape" role ="button">Scrape New Data</a></p>
    </div>

<!-- Add Latest Mars News -->
    <div class = "row">
      <div class = "col-md-12">
        <h2>Latest Mars News</h2>
        <h4>{{mars_data.news_title}}</h4>
        <p>{{mars_data.news_p}}</p>
      </div>

  </div>
  <br>

  <!-- Add Featured Mars Image -->
  <div class="container">

    <div class = "row">
      <div class = 'col-lg-7'>
        <div class = "col-md-12"> 
          <div class = "box" >
      
        <h2 class="title">Featured Mars Image</h2>
  
      <hr >   
      <div class = "thumbnail">

    <img src= "{{mars_data.featured_image_url}}"  alt="featured mars image" >

  </div>
   </div>
      </div>
      </div>
    
      
       



<!-- Add Mars Facts -->

   <div class = 'col-lg-5'>
    <div class = "col-md-12"> 
      <div class = "box">
    <h4 class="title">Mars Facts</h4>
   
        <table>
        <div class = "row">
          
          <div class = "col-6"> 
          <hr> 
           {{mars_data.facts_df | safe }}
         </table>
           
           </div>
   </div>
      </div>
       </div>
            

  
              
<!-- Add Mars Hemispheres -->

      <div class="container">

      
     <div class = 'col-lg-12'>
    
      <div class = "box">
    <h2 class="title">Mars Hemispheres</h2>
     
    <hr>
  
        <div class = "row">
          <div class = "col-md-2 col-md-offset-1">  

               <h4 class="title">{{mars_data.Cerberus_title}}</h4>
              <img src= "{{mars_data.Cerberus_img}}" width = "100%"  alt="Cerberus"/>
              </div>
              <div class = "col-md-2 ">  

              <h4 class="title">{{mars_data.Schiaparelli_title}}</h4>

              <img class = "img-responsive" src= "{{mars_data.Schiaparelli_img}}" width = "100%"  alt="Schiaparelli"/>
              </div>
               <div class = "col-md-2 ">  

              <h4 class="title">{{mars_data.Syrtis_title}}</h4>

              <img class = "img-responsive" src= "{{mars_data.Syrtis_img}}" width = "100%"  alt="Syrtis Major"/>
              </div>

               <div class = "col-md-2 ">  

              <h4 class="title">{{mars_data.Valles_title}}</h4>

              <img class = "img-responsive" src= "{{mars_data.Valles_img}}" width = "100%"  alt="Valles Marineris"/>

           </div>



           
            </div>
         </div>
       </div>
     </div>
   </div>
 </div>
  </div>

</body>

</html>